# Ported from debugify.accesswidener (intermediary -> official names).
# class_315$class_5823    -> net.minecraft.client.Options$FieldAccess
# class_7941$class_7942   -> net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$Content
# class_7941$class_7943   -> net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$ContentBuilder
public net.minecraft.client.Options$FieldAccess
public net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$Content
public net.minecraft.client.gui.screens.telemetry.TelemetryEventWidget$ContentBuilder
